.checkout_main_container{
    /* border: 1px solid blue; */
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;

}

/* .main_container .horizontal{
    justify-content: space-around;
} */

/* section{
    margin: 5rem;
} */

#Checkout_Summary{
    /* border: 3px solid red; */
    width: 50%;
}

#Payment_Form{
    /* border: 3px solid black; */
    width: 50%;
}

#Payment_Form h2{
    margin-left: 3rem;
}

.product_card{
    width: 80%;
    margin: 1rem auto;
    /* border: 1px solid red; */
}

.product_card img{
    margin-right: 1rem;
    width: 60%;
    height: auto;
    box-shadow: 0px 0px 1px 0px grey;
}

.nav_button{
    margin-top: 2rem;
}

.edit_order{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* label{
    display: flex;
    align-items: flex-end;
} */

#Checkout_Summary h2{
    margin-left: 6rem;
}

.name_price{
    width: 200px;
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    max-width: 300px;
    /* border: 1px solid red; */
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.edit_button{
    margin-top: 2rem;
    display: flex;
    width: 200px;
    justify-content: space-between;
    max-width: 300px;
    min-width: 200px;
    /* border: 1px solid red; */
}

.cart_product .name_price{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart_product .edit_button{
    margin-top: 1rem;
}

.right_side .box_button{
    margin-top: 3rem;
}


/* .edit_order a{
    display: block;
} */

.payment_container{
    width: 80%;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* background-color: rgb(240, 240, 240); */
}

.payment_item{
    margin: 1.5rem 3rem;
    /* border: 1px solid blue; */
}

.payment_item.horizontal{
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: auto;
}

.three_items .vertical{
    width: 30%;
}

.two_items .vertical{
    width: 48%;
}

.select_payment_method{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .payment_item.box_button{
    display: block;
    background-color: white;
    /* width: 30%; */
    /* word-wrap: break-word; */
  }
  
  /* .close-btn {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  } */

@media only screen and (max-width: 1350px){
    /* .payment_item .vertical{
        width: 100%;
        margin-bottom: 1.5rem;
    } */
}

@media only screen and (max-width: 1385px){
    .checkout_main_container{
        flex-direction: column;
    }

    #Checkout_Summary{
        width: 98%;
        margin: auto;
        margin-bottom: 2rem;
        /* border: 1px solid red; */
    }

    .product_card{
        justify-content: center;
    }

    #Payment_Form{
        width: 98%;
        margin: auto;
        /* border: 1px solid red; */
    }

    .payment_container{
        width: 100%;
    }

    #Checkout_Summary h2{
        margin-left: 0;
        text-align: center;
        /* border: 1px solid red; */
    }
}

@media only screen and (max-width: 700px){
    .product_card.horizontal{
        flex-direction: column;
    }

    /* .checkout_main_container{
        width: 100%;
    } */
    #Payment_Form{
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */
    }

    .product_card img{
        width: 100%;
    }

    

    .name_price{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .checkout_main_container .edit_order{
        margin-bottom: 3rem;
    }

   
}

/* @media only screen and (max-width: 600px){
    
} */

/* @media only screen and (max-width: 450px){
    .payment_container{
        width: 100%;
    }
} */



