/* .main_container{
    border: 1px solid blue;
} */

section{
    margin: 5rem;
}

#Checkout_Summary{
    /* border: 3px solid red; */
    width: 50%;
}

#Payment_Form{
    /* border: 3px solid black; */
    width: 50%;
}

.product_card{
    margin-bottom: 1rem;
}

.product_card img{
    margin-right: 1rem;
}

.nav_button{
    margin-top: 3rem;
}

/* .edit_order{
    display: flex;
    gap: 5rem;
} */

.payment_container{
    width: 80%;
    margin: auto;
    padding-top: 0.5rem;
    background-color: rgb(240, 240, 240);
}

.payment_item{
    margin: 1.5rem 3rem;
    /* border: 1px solid blue; */
}

.payment_container .horizontal{
    justify-content: space-between;
    /* border: 1px solid black; */
}



