*{
    box-sizing: border-box;
}

/* navigation link */
nav{
    display: flex;
    gap: 5rem;
}

.nav_button{
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    transition: transform 0.3s ease-in-out;
}

.nav_button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    top: 50%;
    left: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
    transform: translateY(-50%);
}

.nav_button:hover::before, 
.nav_button:focus::before {
    width: 10px;
}

.nav_button:hover,
.nav_button:focus{
    transform: translateX(10px);
}


/* image link */
.image_link{
    text-decoration: none;
    display: block;
    position: relative;
    width: 300px;
    height: 400px;
}

.image_link .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
    opacity: 0;
    transition: 0.5s ease;
}

.image_link:hover .overlay,
.image_link:focus .overlay{
    opacity: 1;
}

.image_link .overlay p{
    position: absolute;
    color: white;
    width: 80%;
    height: 80%;
    /* make the text area at the center of overlay */
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 1px solid red; */
    /* make the text at the center of the text area */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* box button for submit*/
.box_button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(51,51,51) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: 0.5s ease-out;
}

.box_button:hover,
.box_button:focus{
    background-position: left;
    color: white;
}