/* *{
    border: 1px solid red;
} */

/* .carousel {

} */

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel-image.active {
    opacity: 1;
}

.product_image {
    /* background-image: url(../imgs/rolling_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 95vw;
    height: 45vw; */
    /* border: 1px solid red; */
    position: relative;
    margin: auto;
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.product_image img {
    width: 100vw;
    height: auto;
}

.carousel .horizontal {
    margin-top: auto;
    padding-top: 0.5rem;
    gap: 1rem;
    /* border: 1px solid red; */
    justify-content: center;
    /* padding-bottom: 0; */
}

.text-after-carousel {
    padding-top: 40vw; /* 根据轮播图的高度来调整 */
  }

/* Detail Description Part Style */

.body_container {
    display: flex;
    justify-content: space-between;
}

.product_detail_text p {
    line-height: 1.5;
}

.product_detail_text {
    margin: 5rem;
    width: 40%;
    margin-bottom: 5rem;
    /* border: 1px solid red; */
}

.d_title {
    border-bottom: 0.02rem solid rgb(63, 63, 63);
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* .add_icon_horizontal {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.add_icon_vertical {
    width: 2px;
    height: 20px;
    background-color: black;
    margin-left: 10px;
} */

.dropdown_title_bar {
    display: flex;
}

.plus_icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.plus_icon span {
    position: absolute;
    background-color: black;
}

.plus_icon .add_icon_horizontal {
    width: 60%;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus_icon .add_icon_vertical {
    width: 4px;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product_detail_drrop_down .dropdown_icon {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.dropdown.collapsed .dropdown-icon {
    transform: rotate(-45deg);
}

/* DETAILS
MATERIAL
18-carat white gold
PAVING
10 square-cut sapphires for 0.50 carat and 8 brilliant-cut G VS+ diamonds for 0.19 carat
CHAUMET DIAMONDS
Conforms to the Kimberley process
MORE DETAILS
Three adjustment rings: 38, 40, 42 cm
The carats, the number of stones and the metal weight are given as an indication. Non-contractual values */

form#number_atlas_cart,
form#number_juniper_cart input {
    margin-top: 0.5rem;
    /* margin-left: 5rem;
    margin-bottom: 5rem; */
}

@media only screen and (max-width: 600px) {
    .product_detail_text {
        width: 90%;
        margin: auto;
        /* border: 1px solid red; */
    }
}