

.product_lst_container{
    /* border: 1px solid red; */
    padding-top: 3rem;
    /* margin-top: 5rem; */
    max-width: 1300px;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex: 1; */
    /* justify-content: center; */
    /* border: 1px solid red; */
}

.product_lst_container .image_link{
    margin-top: 5rem;
    /* border: 1px solid black; */
}

.overlay_detail{
    display: block;
}

a{
    /* text-decoration: none; */
    color: rgb(0, 0, 0);
}

/* @media only screen and (max-width: 1385px) {
    .main_container .image_link{
        width: 60%;
        margin: auto;
        margin-top: 5rem;
    }   
} */

@media only screen and (max-width: 500px) {
    .product_lst_container .image_link{
        width: 60%;
        margin: auto;
        margin-top: 5rem;
        /* border: 1px solid red; */
        /* margin: 0 1rem;
        margin-top: 5rem; */
    }   
}