.main_container{
    /* border: 1px solid red; */
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* gap: 5rem; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.main_container .image_link{
    /* margin: auto; */
    /* border: 1px solid red; */
    margin: 0 1rem;
    margin-top: 5rem;
}

a{
    /* text-decoration: none; */
    color: black;
}

@media only screen and (max-width: 500px) {
    .main_container .image_link{
        width: 60%;
        margin: auto;
        margin-top: 5rem;
        /* border: 1px solid red; */
        /* margin: 0 1rem;
        margin-top: 5rem; */
    }   
}