/* *{
    border: 1px solid red;
} */

.product_image{
    background-image: url(../imgs/rolling_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 95vw;
    height: 45vw;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product_image .horizontal{
    margin-top: auto;
    gap: 0.5rem;
}

.change_color{
    align-items: center;
}

input#Sliver[type="radio"]:checked > .product_image{
    background-image: url(../imgs/rolling_2.png);
}

/* Detail Description Part Style */

p{
    line-height: 1.5;
}

.product_detail_text{
    margin: 5rem;
    max-width: 40%;
}

.d_title{
    border-bottom:0.02rem solid rgb(63, 63, 63);
    margin: 0;
}