/* *{
    border: 1px solid red;
} */

.product_image{
    /* background-image: url(../imgs/rolling_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 95vw;
    height: 45vw; */
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product_image img{
    width: 100%;
    height: auto;
}

.product_image .horizontal{
    margin-top: auto;
    padding-top: 0.5rem;
    gap: 1rem;
    /* border: 1px solid red; */
}

/* Detail Description Part Style */

.product_detail_text p{
    line-height: 1.5;
}

.product_detail_text{
    margin: 5rem;
    max-width: 40%;
}

.d_title{
    border-bottom:0.02rem solid rgb(63, 63, 63);
    margin: 0;
}