/*
  Text based template
  Art_assets + index(homepage) + citation
*/

h1{
    font-size: 4rem;
}

p{
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1.5;
}

img{
    width: 100%;
}

/*
  homepage template
*/

.title{
    margin: 5rem 15rem;
    text-align: center;
    border-bottom: 0.5px solid #545454;
}

.title h2{
    font-weight:lighter;
}

.secondarty_title{
    margin-left: 2%;
    margin-right:5%;
    margin-top: 7%;
}

.layout_box{
    display: flex;
    justify-content: space-around;
}

.section_name{
    /* border: 1px solid #545454; */
    margin: 2rem 0rem 2rem 15rem;
    max-width: 50%;
    min-width: 30%;font-weight: lighter;
}

.NL{
    display: flex;
    justify-content: space-between;
}

.con_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.content{
    margin-left: 0;
    margin-right: 20%;
    margin-bottom: 3rem;
}

.short_content{
    margin-left: 0;
    margin-right: 37%;
}

.content a{
    font-style: italic;
    font-weight: bold;
    color:#545454;
    text-decoration: none;
}

.content a:hover, .content a:focus{
    text-decoration: underline;
    font-style: normal;
}

/*
  Art Assets template
*/

.brand_version{
    font-size: 3rem;
    font-weight: thin;
    text-align: center;
    margin-top: -5rem;
    margin-bottom: 5rem;
}

.logo_pic{
    /* border: 1px solid #545454; */
    margin-left: 10rem;
    margin-right: 15rem;
    min-width: 18%;
}


.sample_title{
    margin-left: 10rem;
    margin-right: 20rem;
}

.sample_text{
    margin-left: 10rem;
    margin-right: 8rem;
    max-width: 30%;
    min-width: 25%;
}

ul{
    margin-top: 6rem;
    list-style: none;
}

li{
    height: 3rem;
}

.sec_title{
    width: 70rem;
    margin: auto;
    font-size: 3rem;
    font-weight: thin;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-top: 0.5px solid #545454;
}

.p_title{
    margin-left: 13rem;
    margin-right: 22rem;
}

.no_style{
    margin-bottom: -1rem;
}

.copywrite{
    max-width: 70%;
    min-width: 60%;
    margin: auto;
    text-align: center;
}

.img_layout{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.imge{
    width: 30%;
    /* height: fit-content; */
    height: auto;
}

/*
  Citation template
*/

.cite{
    display: block;
    margin: 5rem 15rem;
}

.cite li{
    margin-bottom: 5px;
}

/*
  index(homepage) responsive
*/

@media only screen and (max-width: 900px){

    .title, .brand_version{
        display: block;
        align-content: left;
        min-width:25%;
        /* border-bottom:0.5px solid #545454; */
        margin-left: 5%;
        text-align: left;
    }

    .section_name{
        margin-left: 0;
        align-content: left;
        margin-left: 0%;
    }

    .layout_box{
        display: block;
        margin-left: 10rem;
        margin-left: 10%;
    }

    .NL{
        display: block;
        margin-left: 10rem;
        margin-left: 10%;
    }

    .con_info{
        display: block;
        margin-left: 10rem;
        margin-left: 10%;
    }

    .logo_pic, .sample_title, .sample_text, ul, .p_title{
        margin-left: 0%;
    }

    .sec_title{
        margin-left: 5%;
        text-align: left;
        display: flex;
        max-width: 70%;
        border-top: 0.5px solid #545454;
    }

}

